models/embedder_arcface.onnx
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

venv/
env/
ENV/

build/
dist/
*.egg-info/

*.log

.vscode/

.idea/

.DS_Store
Thumbs.db

mosquitto.db

node_modules/

.env
